{% extends "base_print.html" %}
{% block content %}
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-">연번</th>
        <th class="col-md-">종류</th>
        <th class="col-md-">수량</th>
        <th class="col-md-">받는사람</th>
        <th class="col-md-2">전화번호</th>
        <th class="col-md-5">주소</th>
        <th class="col-md-2">메모</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.shipping_id }}</td>
          <td>{{ item.product.call_name }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.recipient }}</td>
          <td>{{ item.pn }}</td>
          <td>({{ item.recipient_zipcode }})<br/>
          {{ item.recipient_base_address }}<br/>{{ item.recipient_additional_address|default_if_none:'' }}</td>
          <td>
            {{ item.shipping_memo|default_if_none:'' }}{% if item.buyer != item.recipient %}(보낸사람:{{ item.buyer }}){% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
